/*/*/*.h
/*/*/*_test.c
/*/*/*_test.cpp
/*/*/*_test.py
/*/*/.exercism
/*/*/.gitignore
/*/*/CMakeLists.txt
/*/*/Cargo.toml
/*/*/GETTING_STARTED.md
/*/*/HELP.md
/*/*/HINTS.md
/*/*/Makefile
/*/*/README.md
/*/*/build
/*/*/target
/*/*/test
/*/*/tests
/*/*/vendor
/.envrc
